img {
  width: 15rem;
  overflow: hidden;
  float: left;
  transition: 0.3s ease;
}

p {
  text-align: justify;
}

.profile {
  border-radius: 50%;
}

.linha-customizada {
  justify-content: center;
  box-sizing: border-box;
}

.about {
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 2rem;
}

.content-item {
  margin-top: 8em !important;
}
