<div class="w-100 d-flex justify-content-center align-items-center contact">
	<form class="">
		<h2 class="text-center">Vamos Conversar?</h2>
		<!-- Cabeçalho -->
		<section class="d-flex gap-3 w-100 header-email">
			<div class="mb-3 w-100">
				<label for="basic-url" class="form-label">Nome:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="basic-url"
						aria-describedby="basic-addon3 basic-addon4" />
				</div>
			</div>
			<div class="mb-3 w-100">
				<label for="basic-url" class="form-label">Email:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="basic-url"
						aria-describedby="basic-addon3 basic-addon4" />
				</div>
			</div>
		</section>
		<!-- Assunto do Email -->
		<section>
			<div class="mb-3">
				<label for="basic-url" class="form-label">Assunto:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="basic-url"
						aria-describedby="basic-addon3 basic-addon4" />
				</div>
			</div>
		</section>

		<!-- Text Area -->
		<section>
			<label for="text-area" class="form-label">Conteúdo:</label>
			<div class="input-group">
				<textarea id="text-area" rows="5" class="form-control" aria-label="With textarea"></textarea>
			</div>
		</section>

		<!-- Botões -->
		<section class="d-flex justify-content-center align-items-center mt-3 gap-3">
			<button type="button" class="btn btn-secondary">Enviar</button>
			<button type="reset" class="btn btn-secondary">Limpar</button>
		</section>
	</form>
</div>