<section class="d-flex flex-row">
	<div class="circulo" id="circulo-vermelho" (click)="onCloseClick()"></div>
	<div class="circulo" id="circulo-amarelo" (click)="onMinimizeClick()"></div>
	<div class="circulo" id="circulo-verde" (click)="onMaximizeClick()"></div>
</section>
<nav class=" ">
	<ul class="d-flex flex-row-reverse gap-3">
		<li routerLink="/">Home</li>
		<li routerLink="/">Skills</li>
		<li routerLink="/">Experiências</li>
		<li routerLink="/projects">Projetos</li>
		<li routerLink="/contact">Contato</li>
		<li routerLink="/about">Sobre</li>
	</ul>
</nav>