<div class="about">

	<!-- Cabeçalho -->
	<section class="d-flex" >
		<div class="mb-3 header">
			<label for="basic-url" class="form-label">Nome:</label>
			<div class="input-group">
				<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" />
			</div>
		</div>

		<div class="separator"></div>

		<div class="mb-3 header">
			<label for="basic-url" class="form-label">Email:</label>
			<div class="input-group">
				<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" />
			</div>
		</div>
	</section>

	<!-- Assunto do Email -->
	<section>
		<div class="mb-3">
			<label for="basic-url" class="form-label">Assunto:</label>
			<div class="input-group">
				<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" />
			</div>
		</div>
	</section>

	<!-- Text Area -->
	<section>
		<label for="text-area" class="form-label">Conteúdo:</label>
		<div class="input-group">
			<textarea id="text-area" rows="5" class="form-control" aria-label="With textarea"></textarea>
		  </div>
	</section>

	<!-- Botões -->
	<section class="d-flex justify-content-center align-items-center mt-3">
		<button type="button" class="btn btn-secondary">Enviar</button>
		<div class="separator"></div>
		<button type="button" class="btn btn-secondary">Limpar</button>
	</section>
</div>