<p>Pressione CTRL + M!</p>
<div class="d-flex justify-content-center">
  <div class="command-line">
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">
        <img src="../../../../assets/icons/terminal-solid.svg" alt="" />
      </span>
      <input
        list="commands"
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
      />
      <datalist id="commands">
        <option value="About"></option>
        <option value="Contact"></option>
        <option value="Professional Experiences"></option>
        <option value="Skills"></option>
        <option value="Home Page"></option>
        <option value="Projects"></option>
		<option value="Send WhatsApp Message"></option>
		<option value="Send Email"></option>
		<option value="Social"></option>
		<option value="View Source Code"></option>
		<option value="Secrets"></option>
      </datalist>
    </div>
  </div>
</div>
