/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
body {
	background-color: #2E3440;
	color: #FFFFFF;
	font-family: 'Fira Code', monospace;
	box-sizing: content-box;
}

html, body{
	margin:0px !important;
	padding: 0px !important;
	height: 100%;
	width: 100%;
 }