<div class="content-item">
	<div class="linha-customizada">
		<div class="d-flex align-items-center about">
			<div class="flex-grow-1 ms-5">
				<h2>Wiris Wernek</h2>
				<h5 class="mt-2 mb-5">Desenvolvedor Backend Web</h5>
				<p>Olá, prazer em conhece-lo, me chamo Wiris Wernek, conhecido na internet
				como Lost905, tenho {{ idade }} anos sou aluno do curso de Tecnologia em
				Análise e Desenvolvimento de Sistemas no Instituto Federal do Espírito
				Santo. Sou um apaixonado pelo mundo Open Source e entusiasta da cultura
				DevOps.</p>
			</div>
			<div class="flex-shrink-0 ml-5">
				<img src="../../../../assets/images/Ilustração.svg" alt="...">
			  </div>
		</div>
	  </div>
</div>