
    <div class="d-flex h-100 w-100 align-items-center justify-content-center content">
      <div class="ms-5 description">
        <h2>Wiris Wernek</h2>
        <h5 class="mt-2 mb-5">Desenvolvedor Backend Web</h5>
        <p>
          Olá, prazer em conhece-lo, me chamo Wiris Wernek, conhecido na
          internet como Lost905, tenho {{ idade }} anos sou aluno do curso de
          Tecnologia em Análise e Desenvolvimento de Sistemas no Instituto
          Federal do Espírito Santo. Sou um apaixonado pelo mundo Open Source e
          entusiasta da cultura DevOps.
        </p>
      </div>
      <div class="ms-5 image">
        <img src="../../../../assets/images/computer_picture.svg" alt="..." />
    </div>
