img {
  width: 15rem;
  overflow: hidden;
  float: left;
  animation: floatAnimation 4s infinite ease-out;
}
p {
  text-align: justify;
}

.profile {
  border-radius: 50%;
}

.linha-customizada {
  justify-content: center;
  box-sizing: border-box;
}

.about {
  padding-left: 8vw;
  padding-right: 8vw;
}

.content-item {
  margin-top: 8em !important;
}

@keyframes floatAnimation {
  50% {
    transform: translateY(-10%);
  }
}

@media (max-width: 1000px) {
  img {
    display: none;
    width: 0;
  }
  #presentation {
    width: 100%;
    padding-right: 0;
    margin-left: 2rem;
  }
}
